<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> Mom-to-Mom</title>

    <link href=" https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="forum.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="example_wrapper" class="dataTables_wrapper">
        <div class="dataTables_length" id="example_length"><label>Show <select name="example_length"
                    aria-controls="example" class="">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select> entries</label></div>
        <div id="example_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder=""
                    aria-controls="example"></label></div>
        <table id="example" class="display dataTable" style="width:100%" aria-describedby="example_info">
            <thead>
                <tr>
                    <th class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                        aria-sort="ascending" aria-label="Name: activate to sort column descending"
                        style="width: 132.719px;">Title</th>
                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                        aria-label="Position: activate to sort column ascending" style="width: 217px;">Description</th>
                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                        aria-label="Office: activate to sort column ascending" style="width: 96.4531px;">Image</th>
                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                        aria-label="Age: activate to sort column ascending" style="width: 38.4219px;">User</th>
                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                        aria-label="Start date: activate to sort column ascending" style="width: 86.7031px;">Comments
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                        aria-label="Salary: activate to sort column ascending" style="width: 72.8906px;">Salary</th>
                </tr>
            </thead>
            <tbody>






                <% for(var i=0; i<threads.length; i++) {%>
                    <tr class="odd">
                        <td class="sorting_1">
                            <%= threads[i].title %>
                        </td>
                        <td>
                            <%= threads[i].description %>
                        </td>
                        <td>
                            <%= threads[i].img %>
                        </td>
                        <td>
                            <%= threads[i].user %>
                        </td>
                        <td>
                            <%= threads[i].comments %>
                        </td>
                    </tr>
                    <% } %>

            </tbody>
            <tfoot>
                <tr>
                    <th rowspan="1" colspan="1">Name</th>
                    <th rowspan="1" colspan="1">Position</th>
                    <th rowspan="1" colspan="1">Office</th>
                    <th rowspan="1" colspan="1">Age</th>
                    <th rowspan="1" colspan="1">Start date</th>
                    <th rowspan="1" colspan="1">Salary</th>
                </tr>
            </tfoot>
        </table>
        <div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries
        </div>
        <div class="dataTables_paginate paging_simple_numbers" id="example_paginate"><a
                class="paginate_button previous disabled" aria-controls="example" data-dt-idx="0" tabindex="-1"
                id="example_previous">Previous</a><span><a class="paginate_button current" aria-controls="example"
                    data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="example"
                    data-dt-idx="2" tabindex="0">2</a><a class="paginate_button " aria-controls="example"
                    data-dt-idx="3" tabindex="0">3</a><a class="paginate_button " aria-controls="example"
                    data-dt-idx="4" tabindex="0">4</a><a class="paginate_button " aria-controls="example"
                    data-dt-idx="5" tabindex="0">5</a><a class="paginate_button " aria-controls="example"
                    data-dt-idx="6" tabindex="0">6</a></span><a class="paginate_button next" aria-controls="example"
                data-dt-idx="7" tabindex="0" id="example_next">Next</a></div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


    <script src=" https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script src="forum.js"></script>
</body>

</html>